/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Centering images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* General body styles */
body {
    font-family: Poppins, sans-serif;
    font-size: 28px;
    color: white;
    background-color: #282828;
}

/* Header styles */
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 70px;
}

/* Navigation bar styles */
ul {
    font-family: Poppins, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #811429;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #48111C;
}

.active {
    background-color: #48111C;
}

/* SVG styles for the oc branding */
.svgstylings {
    display: block;
    margin-left: auto;
    margin-right: auto;
    fill: white;
}
